*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
/* border: 2px solid red; */
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items:  center;
/* background: url('https://images.pexels.com/photos/89955/pexels-photo-89955.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')  center/cover no-repeat; */
}
h1{
  font-size: 4rem;
  color: #30d7f1;
  font-weight: 600;
}
#group-create{

  width: 50%;


}
#group-create button{
  font-size: 30px;
 font-weight: 400;
 background:transparent;
 cursor: pointer;
 float: right;
 color: white;
 border: 1px solid white;
 border-radius: 10px;
 background-color: black;
 margin-bottom: 20px;
 padding: 10px;
 
}
#group-create button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}


.message-box{
  height: 70vh;
  width: 50%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(141, 221, 21);
  overflow-y:auto;
}

.chat-list{
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.chat-list li{
  padding:5px 10px;
  margin: 10px 20px;
  font-size: 30px;
  color: white;
  background-color: rgb(141, 221, 21);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  list-style: none  ;
  font-weight: 500;
}
.left{
  float: left;
  clear: both;
}
.right{
  float: right;
  clear: both;
}
.messanger{
  margin-top: 10px;
  display: flex;
  width: 50%;
  height: 5vh;
  border: none;



}
.messanger .type-message{
  width: 90%;
  margin-right: 5px;
  height: 100%;
  color: black;
  font-size: 28px;
  font-weight: 400;
  font-family: sans-serif  ;
  padding-left: 10px;
  border-radius: 10px;
  border:1px solid rgb(87, 86, 86);
}
.messanger .send-message{
  border: 1px solid red;
  color: black;
  font-size: 28px;
  font-weight: 400;
  font-family: sans-serif  ;
  width: 10%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
}
.send-message:hover{
  background-color: red;
  border: 1px solid white;
  color: white;
}






.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* hemberggur menu/ */
#menu-button {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 109px; /* Adjust the position as needed */
  left: 400px; /* Adjust the position as needed */
  z-index: 2; /* Ensure the button is above the menu */
}

/* Style for the ellipsis button */
.ellipsis-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20px; /* Adjust the width as needed */
  height: 38px; /* Adjust the height as needed */
  padding: 5px; /* Adjust padding as needed */
  background: none;
  border: none;
  outline: none;
  color: #333; /* Adjust the color as needed */
}

.dot {
  width: 7px; /* Adjust the width of the dots as needed */
  height: 7px; /* Adjust the height of the dots as needed */
  background-color: #000000; /* Adjust the color of the dots as needed */
  border-radius: 50%; /* Create circular dots */
}


#menu-container {
  width: 0;
  height: 70vh;
  position: fixed;
  top: 109px;
  left: 404px;
  background-color: rgb(74, 11, 210);
  border-radius: 10px;
  
  overflow-x: hidden;
  transition: 0.3s;

}

#menu-container ul {
  list-style-type: none;
  padding: 0;
}

#menu-container ul li {
  padding: 20px;
  /* margin-top: 10px; */
}

.menu-hidden {
  width: 0;
}

.menu-visible {
  width: 250px !important; /* Adjust the width as needed */
}


.g-list {
 list-style: none;
 font-weight: 400;
font-size: 16px;
color: white;
 height: 1px;
width: 90%;
 border: 1px solid red;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5px auto;
 border-radius: 8px;
 transition: all 0.4s;
}
.g-list:hover{
  border: none;
  background-color: #30d7f1;
  color: #000000;
}



