
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500&family=Nunito:wght@300;400;600&family=Pacifico&family=Phudu:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  height: 100%;
  width: 100%;
  background-color: rgb(16, 29, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
margin: 20px;
border-radius: 10px;
background-color: #072718;
height: 90vh;
width: 100vw;
display: flex;  
}
.rightmenu{
  width : 30%;
  height: 100%;

}
.buttons-div{
  position:relative;
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.buttons-div .n-group{
  position: absolute;
  right: 80px;
}
.buttons-div .logout{
  position: absolute;
  right: 10px;
}
.btn{
  color:black;
  padding: 5px ;
  border: 1px solid #005c4b;
  border-radius: 5px; 
 font-size: 1rem;  
 font-weight: 400;
 background-color: #005c4b;
}
.btn:hover{
  background-color: #005c4b;
  border: 1px solid white;
  color: white; 
}
.list-group{
  /* border:1px solid red;   */
  width: 100%;
  height: 90%;
  background-color: #101a20;
  border-radius: 5px;
}
.leftmsg{
  width: 70%;
  height: 100%;
  /* border: 1px solid red; */
}
.heading{
  height: 10%;
  font-size: 3rem;
  color: #f6f6f6;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  background-color: #202c33;
  display: flex;
  /* border: 1px solid rebeccapurple; */
  justify-content: center;
}



.heading-sm{
  font-size: 1.5rem;
  background-color: #005c4b;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  height: 10%;
padding-top: 15px;
}
.message-box{
  height: 83%;
  width: 100%;
  border-radius: 5px;
  background-color: #0b141a;
  border: none;
  overflow-y:auto;
}

.chat-list{
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.chat-list li{
  padding:5px 10px;
  margin: 10px 20px;
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: #005c4b;
  border-radius: 5px;
  list-style: none  ;
  font-weight: 300;
}
.welcome{
  display: block !important;
}
.left{
  float: left;
  clear: both;
  margin-right: 10px;
}
.right{
  float: right;
  clear: both;
}
.messanger{
  display: flex;
  width: 100%;
  height: 7%;
  border-radius: 5px;
  background-color: #202c33;

}
.chat-image img {
  width: 225px;
  border-radius: 10px;
}
#file {
  display: none;
}
.you-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.messanger .type-message{
  width: 90%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 28px;
  padding-left: 10px;
  border-radius: 5px;
  background: none;
  border: 1px solid   #005c4b;
  outline: none;
}
.type-message:focus{
  border:1px solid wheat ;
}
.messanger .send-message{
  font-size: 28px;
  font-weight: 400;
  background-color: #005c4b;
  border: none;
  border-radius: 5px;
  width: 5%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
}
.send-message:hover{
  background-color: #005c4b;
  border: 1px solid white;
  color: white;
}
.messanger .document{
  background: none;
  border: none;
  border-radius: 5px;
  width: 5%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s; 
}
.sentDoc{
  border-radius: 5px;
  background-color: #005c4b;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
}
.sentDoc:hover{
  background-color: #005c4b;
  border: 1px solid white;
  color: white;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}




/* hemberggur menu/ */
#menu-button {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 109px; /* Adjust the position as needed */
  left: 400px; /* Adjust the position as needed */
  z-index: 2; /* Ensure the button is above the menu */
}

/* Style for the ellipsis button */
.ellipsis-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20px; /* Adjust the width as needed */
  height: 38px; /* Adjust the height as needed */
  padding: 5px; /* Adjust padding as needed */
  background: none;
  border: none;
  outline: none;
  color: #333; /* Adjust the color as needed */
}

.dot {
  width: 7px; /* Adjust the width of the dots as needed */
  height: 7px; /* Adjust the height of the dots as needed */
  background-color: #000000; /* Adjust the color of the dots as needed */
  border-radius: 50%; /* Create circular dots */
}


#menu-container {
  width: 0;
  height: 70vh;
  position: fixed;
  top: 109px;
  left: 404px;
  background-color: rgb(74, 11, 210);
  border-radius: 10px;
  
  overflow-x: hidden;
  transition: 0.3s;

}

#menu-container ul {
  list-style-type: none;
  padding: 0;
}

#menu-container ul li {
  padding: 20px;
  /* margin-top: 10px; */
}

.menu-hidden {
  width: 0;
}

.menu-visible {
  width: 250px !important; /* Adjust the width as needed */
}


.g-list {
 list-style: none;
 font-weight: 400;
font-size: 16px;
color: white;
 height: 1px;
width: 90%;
 border: 1px solid red;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5px auto;
 border-radius: 8px;
 transition: all 0.4s;
}
.g-list:hover{
  border: none;
  background-color: #30d7f1;
  color: #000000;
}




/* // For the group data  */
.groupHeading{
  height: 10%;
  /* border: 1px solid white; */
  border-radius: 5px;
  background-color: #202c33;
  display: flex;

}
.groupname{
  width: 50%;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.otherdata{
  width: 50%;
  /* border: 1px solid wheat; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.G-name{  
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}



.btn-sm{
  padding: 0.5rem;
  margin-right: 10px ;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  background-color: #005c4b;
  border: none;
  border-radius: 5px;

  
}
.btn-sm:hover{
  background-color: #005c4b;
  border: 1px solid white;
  color: white;
}

#info {
  position: relative;
  
}

#settings {
  display: none;
}

#info-div {
  width: 25%;
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  top: 50px;
  right: 20px;
  overflow: auto;
}
#member-count-heading {
  font-size: 0.8rem;
  text-align: center;
}

.status {
  font-size: 0.7rem;
  float: right;
}

.member-name {
  font-size: 1rem;
}

.admin {
  color: #47ed31;
}

.member {
  color: #778899;
}


.group-list-items{
  background-color:  white;
  list-style: none;
  font-family:sans-serif ;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  transition: all 0.4s;
}
.group-list-items:hover{
  background-color: #005c4b;
  color: white;
  border: 1px solid white;

}
.group-members-list-items{
  background-color:  white;
  list-style: none;
  font-family:sans-serif ;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  transition: all 0.4s;
}
/* .group-list-items:hover{
  background-color: #005c4b;
  color: white;
  border: 1px solid white;

} */






/* #group-create{
  
  width: 50%;
  border: 1px solid red;
  display: none;

}
#group-create button{
  font-size: 30px;
 font-weight: 400;
 background:transparent;
 cursor: pointer;
 float: right;
 color: white;
 border: 1px solid white;
 border-radius: 10px;
 background-color: black;
 margin-bottom: 20px;
 padding: 10px;
 
}
#group-create button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
} */